body {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    border-radius: 16px;
    border: transparent;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.hover-card {
    border-radius: 16px;
    border: transparent;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.hover-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.bg {
    z-index: -1;
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
}